<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/styles/app.css" rel="stylesheet">
  <title>Excel Reader</title>
</head>
<body>
  <h1>Upload Excel File</h1>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="excelFile" id="excelFile" accept=".xlsx, .xls" required />
    <button type="submit">Upload and Read</button>
  </form>

</body>
</html>